@import "../../styles/template.scss";

.about {

	&__name{
		grid-area: about-name;
		align-self: center;
		box-sizing: border-box;

		width: 100%;
		text-align: center;
		text-shadow: $main-text-shadow;

		& * {
			@include setBox( 0, 0 );
		}
	}


	&__contacts {
		grid-area: about-contacts;
		box-sizing: border-box;

		
		@include setBox(0, ( 10px 0 10px 25px));
	}
	&__contacts-item {
		line-height: 1.6;
		
		@include setBox( 0, 0 );
		
		& span {
			display: inline-block;
			width: 95px;
		}
		
		& a {
			display: inline-block;

			&::after {
				width: 16px;
				height: 16px;
			}
		}
	}

	&__experience {
		grid-area: about-experience;
		text-shadow: 1px 1px 4px gray;

		& h2 {
			text-align: center;
			text-shadow: $main-text-shadow;
			@include setBox((10px 0 5px), (0));

			@media (min-width: 700px) {
				margin: 15px 0 10px;
			}
		}

		& p {
			// line-height: 1.3;
			text-indent: 25px;
			@include setBox( (15px 0), ( 0 ) );
		}

		& ul {
			@include setBox( ( -10px 0 0), ( 0 0px 0 25px ) );
			
			@media (min-width: 500px) {
				padding-left: 50px;
			}

			& li {
				@include setBox( 0 , 0 )
			}
		}
	}

	&__skills-container {
		text-shadow: $main-text-shadow;
		grid-area: about-skills;
		box-sizing: border-box;

		@media (min-width: 980px) {
			padding: 0px 0px 0 20px;
		}
	}

	&__skills-title {
		text-align: center;

		@include setBox( ( 10px 0 5px ), ( 0 ) );

		@media (min-width: 700px) {
			margin: 15px 0 10px;
		}

		@media (min-width: 980px ) {
			text-align: start;
		}
	}

	&__skills-list {
		list-style-type: none;
		@include setBox( 0, 0 );
		
		& li {
			text-indent: 25px;
			display: inline-block;
			@include setBox( (0 0px 8px 0), 0 );
			
			@media (min-width: 980px) {
				text-indent: 0;
				display: block;
			}
		}
	}

	&__photo-container {
		grid-area: about-photo;
		display: none;
		@include setBox( 0, 0 );
		
		@media (min-width:700px) {
			
			width: 100%;
			height: 100%;
			@include setFlex($flexFlowRow, start, end);
		}
	}

	&__photo {
		box-sizing: border-box;
		border: 1px solid gray;
		width: 100%;
		height: 80%;
	
		box-shadow: $field-shadow-black-down;
		background-image: url('../../images/photo/myPhoto1.jpg');
		background-size: cover;
		background-position: 0px 0;

		@include setBox( (0), (0) );
	}
}