@import "../../styles/template.scss";

.about {

	&__name{
		grid-area: about-name;
		align-self: center;
		box-sizing: border-box;

		width: 100%;

		& * {
			@include setBox( 0, 0 );
		}
	}


	&__contacts {
		grid-area: about-contacts;
		box-sizing: border-box;

		
		@include setBox(0, ( 10px 0 10px 25px));
	}

	&__contacts-item {
		line-height: 1.6;
		
		@include setBox( 0, 0 );
		
		& span {
			display: inline-block;
			width: 95px;
		}
		
		& a {
			display: inline-block;

			&::after {
				width: 16px;
				height: 16px;
			}
		}
	}

	&__experience {
		grid-area: about-experience;

		& h2 {
			@media (min-width: 700px) {
				margin: 15px 0 10px;
			}
		}

		& p {
			text-indent: 25px;

			& a::after{
				content: attr( href );
			}
		}

		& ul {
			
			@media (min-width: 500px) {
				padding-left: 50px;
			}

			& li {
				@include setBox( 0 , 0 )
			}
		}
	}

	&__skills-container {
		text-shadow: $main-text-shadow;
		grid-area: about-skills;
		box-sizing: border-box;

		@media (min-width: 980px) {
			padding: 0px 0px 0 20px;
		}
	}

	& h2.about__skills-title {

		@media (min-width: 700px) {
			margin: 15px 0 10px;
		}

		@media (min-width: 980px ) {
			text-align: start;
		}
	}

	& ul.about__skills-list {
		list-style-type: none;
		text-align: center;
		@include setBox( 0, 0 );
		
		& li {
			text-indent: 25px;
			display: inline-block;
			@include setBox( (0 0px 8px 0), 0 );
			
			@media (min-width: 980px) {
				text-indent: 0;
				text-align: start;
				display: block;
			}
		}
	}

	&__photo-container {
		grid-area: about-photo;
		display: none;
		@include setBox( 0, 0 );
		
		@media (min-width:700px) {
			
			width: 100%;
			height: 100%;
			@include setFlex($flexFlowRow, start, end);
		}

		@media print {
			display: block;
			margin-top: 20px;
			margin-bottom: -20px;
		}
	}

	&__photo {
		box-sizing: border-box;
		width: 100%;
		height: 80%;
	
		@include setBorder( ( 1px solid gray ), 0, $field-shadow-black-down);
		@include setBox( (0), (0) );
	}
}