@import "../../../styles/template.scss";

.body-header {

	&__container {
		box-sizing: border-box;
		font-size: $body-header__container-fontSize;

		@include setBox( ( 0 auto ), ( 4px 2px ) );		
		@include setGrid( auto, auto, center, center);
		grid-template-areas: "header-head header-head" "header-nav header-search";
		grid-auto-rows: auto;
		grid-auto-columns: auto;
		

		@media (min-width: 700px) {
			width: $body-header__container-mediumWidth;
			font-size: $body-header__container-largeFontSize;
			padding: 6px 0px;
		}

		@media (min-width: 1400px) {
			width: $body-header__container-largeWidth;
			font-size: $body-header__container-largeFontSize;
			padding: 6px 0;
		}
	}

	&__head {
		grid-area: header-head;		
		text-align: center;
		font-size: $body-header__head-font-SmallSize;
		color: $bodyHeader__headColor;
		text-shadow: $body-header__head-textShadow;
		
		@include setBox( (0 0 2px), (0) );
	
		@media (min-width: 700px) {
			font-size: $body-header__head-font-LargeSize
		}
		
		@media (min-width: 1400px) {
			font-size:$body-header__head-font-LargeSize;
		}
	}


	&__nav {
		grid-area: header-nav;
		justify-self: end;

		@include setBox( 0 , 0 );
	}
	
	&__nav-lists {
		list-style-type: none;
		
		@include setFlex( $flexFlowRow, center, auto );
		@include setBox( 0, 0 );
	}

	&__nav-link{
		display: block;
		position: relative;
		outline: none;
		
		color: $body-header__navLink-color;
		text-shadow: $main-text-shadow;
		text-decoration: none;

		cursor: default;

		@include setBox( 0, 4px );
		
		@media (min-width: 700px) {		
			padding: 4px 10px;
		}

		&_active {
			color: $body-header__navLink-color-active;
			text-shadow: $body-header__navLink-textShadow-active;
		}
		
		&:hover {
			@media (min-width: 960px) {
				left: -2px;
				top: -3px;
				color: $body-header__navLink-color-hover;
				text-shadow: $body-header__navLink-textShadow-hover;
			}
		}

		&:active {
			top: 2px;
			color: $body-header__navLink-color-click;

			@media (min-width: 960px ) {	
				top: 0px;
				left: 0px;
			}
		}
	}

	&__search-field{
		grid-area: header-search;
		justify-self: start;
		box-sizing: border-box;
		position: relative;

		width: auto;
		height: 100%;

		@include setBox( ( 0 0 0 14px ), ( 4px 5px 0px 16px ));

		& span {
			box-sizing: brder-box;
			position: absolute;
			height: 0px;

			@include setBorder(none, 0, $body-hader__searchField-underline-boxShadow);			
			border-bottom: 1px solid rgba(0, 0, 0, 0.253);

			top: 20px;
			left: 15px;
			right: 5px;
			
			@media (min-width: 700px) {
				top: 22px;
			}

			@media (min-width: 1400px) {
				top: 22px;
			}
		}

		&:before{
			position: absolute;
			top: 5px;
			left: -2px;
			content: "\1F50E";
			font-size: 0.8em;
		}

		& input {
			font: $body-header__searchField-font;
			color: black;
			font-style: italic;
			text-shadow: $gray-text-shadow;

			width: 100%;

			outline: none;
			border: none;
			background-color: transparent;

			@include setBox(  0 , 0  );

			@media (min-width: 700px) {
				font-size: $body-header__searchField-mediumFontSize
			}

			@media (min-width: 1400px) {
				font-size: $body-header__searchField-largeFontSize;
			}
		}

		& input::placeholder {
			color: $body-header__searchField-placeholder-color;
			text-shadow: $body-header__searchField-placeholder-textShadow;
		}
	}
}