@import "../../../styles/template.scss";

.body-header {

	&__container {

		box-sizing: border-box;
		// border: 1px solid red;

		// background-color: rgba(124, 66, 66, 0.486);

		@include setBox($body-header__container-margin, $body-header__container-padding);

		font-size: $body-header__container-fontSize;

		display: grid;

		grid-auto-rows: auto;
		grid-auto-columns: auto;

		grid-template-areas: "header-head header-head" "header-nav header-search";
		align-items: start;
		justify-items: center;

		@media (min-width: 700px) {
			width: $body-header__container-mediumWidth;
			font-size: $body-header__container-mediumFontSize;
			padding: $body-header__container-mediumPadding;
		}

		@media (min-width: 1400px) {
			width: $body-header__container-largeWidth;
			font-size: $body-header__container-largeFontSize;
			padding: $body-header__container-largePadding;
		}
	}

	&__head {
		grid-area: header-head;

		@include setBox(
			$bodyHeader__headMargin,
			$bodyHeader__headPadding,
		);
		
		font-size: $body-header__head-font-SmallSize;
		color: $bodyHeader__headColor;
		text-shadow: $body-header__head-textShadow;
		
		text-align: center;
	
		@media (min-width: 700px) {
			font-size: $body-header__head-font-MediumSize
		}
		
		@media (min-width: 1400px) {
			font-size:$body-header__head-font-LargeSize;
		}
	
	}

	// &__menu {
	// 	font-size: 20px;

	// 	@media (min-width:500px) {
	// 		display: none;
	// 	}
	// }

	&__nav {
		grid-area: header-nav;
		justify-self: end;

		@include setBox( $body-header__nav-margin, $body-header__nav-padding);
	}
	
	&__nav-lists {
		list-style-type: none;
		
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		@include setBox($body-header__navList-margin, $body-header__navList-padding);
	}

	&__nav-list-item {
	}
	
	&__nav-link{
		display: block;
		position: relative;
		
		outline: none;
		
		@include setBorder($body-header__navLink-border, $body-header__navLink-borderRadius, $body-header__navLink-boxShadow);

		@include setBox( $body-header__navLink-margin, $body-header__navLink-padding);
		
		color: $body-header__navLink-color;
		text-shadow: $main-text-shadow;
		text-decoration: none;

		cursor: default;
		
		@media (min-width: 700px) {
			
			padding: $body-header__navLink-mediumPadding;
		}

		&_active {
			color: $body-header__navLink-color-active;
			text-shadow: $body-header__navLink-textShadow-active;
		}
		
		&:hover {
			@media (min-width: 960px) {
				left: -2px;
				top: -3px;
				color: $body-header__navLink-color-hover;
				text-shadow: $body-header__navLink-textShadow-hover;
			}
		}

		&:active {
			top: 2px;
			color: $body-header__navLink-color-click;

			@media (min-width: 960px ) {	
				top: 0px;
				left: 0px;
			}
		}
	}

	&__search-field{
		grid-area: header-search;
		justify-self: start;
		box-sizing: border-box;
		position: relative;

		width: auto;
		height: 100%;

		@include setBox( $body-header__searchField-margin, $body-header__searchField-padding);

		& span {
			box-sizing: brder-box;
			position: absolute;
			height: 0px;

			@include setBorder(none, none, $body-hader__searchField-underline-boxShadow);			
			border-bottom: 1px solid rgba(0, 0, 0, 0.253);

			top: 20px;
			left: 15px;
			right: 5px;
			
			@media (min-width: 700px) {
				top: 22px;
			}

			@media (min-width: 1400px) {
				top: 22px;
			}
		}

		&:before{
			position: absolute;
			top: 5px;
			left: -2px;
			content: "\1F50E";
			font-size: 0.8em;
		}

		& input {
			font: $body-header__searchField-font;
			color: black;
			font-style: italic;
			text-shadow: 1px 1px 2px white, 2px 2px 2px black;

			width: 100%;

			outline: none;
			border: none;
			background-color: transparent;

			@include setBox(  0 , 0  );

			@media (min-width: 700px) {
				font-size: $body-header__searchField-mediumFontSize
			}

			@media (min-width: 1400px) {
				font-size: $body-header__searchField-largeFontSize;
			}
		}

		& input::placeholder {
			color: $body-header__searchField-placeholder-color;
			text-shadow: $body-header__searchField-placeholder-textShadow;
		}
	}
}