
// body

$backgroundGrad1: white;
$backgroundGrad2: rgb(214, 214, 236);


// body-header

$bodyHeagerBackground: rgb(170, 170, 170);
$bodyHeagerBackground: rgb(189, 189, 189);
$bodyHeagerBackground: #c9c9ce;
$bodyHeagerBackground: #cacad4;

// login-bddy__field

$loginBody__field-background: lightyellow;
$loginBody__field-background-error: rgb(250, 222, 220);



// login-bddy__field

$loginBody__field-background: lightyellow;
$loginBody__field-background-error: rgb(250, 222, 220);

//login-body__button

$loginBody__background: lightgoldenrodyellow;
$login-body__button-color: rgb(90, 103, 116);






//////////////////////// list-body //////////////////////////////////

$listBody-background: rgba(189, 189, 189, 0.212);

$list-body-backgound-gradient1: rgb(232, 232, 236);
$list-body-backgound-gradient2: rgb(210, 210, 226);


$taskCoverBackground: rgba(0, 0, 0, 0.349);

$circle-button-background: rgb(220, 238, 203);
$circle-button-background-hover: rgb(249, 252, 205);

$rect-button-background: rgba(230, 230, 230, 1);
$rect-button-background-hover: rgb(231, 231, 231);

// checkbox

$checkboxBackground: rgb(233, 229, 229);
$checkboxBackgroundHover: #ecd78377;
$checkboxBackgroundChecked: #5df71571;


// task-cover //


$fileLoaderProgressBackground: rgba(158, 197, 185, 0.5);
$fileLoaderCoverBackground: transparent;