
// body

$bodybackgoundColor: rgb(234, 234, 234);
// body-header

$bodyHeaderBackground: rgb(232, 232, 232);

// login-bddy__field

$loginBody__field-background: rgba(255, 255, 224, 0.87);
$loginBody__field-background-error: rgb(250, 222, 220);


//login-body__button

$loginBody__background: lightgoldenrodyellow;
$login-body__button-color: rgb(90, 103, 116);


//////////////////////// list-body //////////////////////////////////

$listBody-background: rgb(238, 238, 238);

$listBodyCoverBackground: rgba(0, 0, 0, 0.349);
$listBodyBackFieldBackground: transparent;


$circle-button-background: rgb(220, 238, 203);
$circle-button-background-hover: rgb(249, 252, 205);

$rect-button-background: rgba(230, 230, 230, 1);
$rect-button-background-hover: rgb(231, 231, 231);

// checkbox

$checkboxBackground: rgb(233, 229, 229);
$checkboxBackgroundHover: #ecd78377;
$checkboxBackgroundChecked: #5df71571;


// task-cover //


$fileLoaderProgressBackground: rgba(158, 197, 185, 0.5);
$fileLoaderCoverBackground: transparent;