

$loginBody__field-border: none;
$loginBody__field-borderRadius: 4px;
$loginBody__field-boxShadow: 0 0 8px gray;

// bory-header__search-field-underline

$body-hader__searchField-underline-boxShadow: 1px 1px 2px white; 
//login-body__button

$login-body__button-border: 1px solid gray;
$login-body__button-border-radius: 4px;
$login-body__button-box-shadow: 0px 0px 4px lightseagreen;



//////////////////////// list-body //////////////////////////////////
 
$gray-border-thin: 1px solid gray;


// buttons 
$inset-box-shadow-button: inset 0 0 4px gray, 1px 1px 2px black;
$inset-box-shadow-button-active: inset 0 0 8px gray, 0 0 2px black;
$inset-box-shadow-button-hover: inset 0 0 8px rgb(115, 122, 84), 1px 1px 2px black;


$descriptionContainerBorder: 4px double gray;


$field-shadow-black-down: inset 0 0 4px gray, 1px 1px 4px black;;
$field-shadow-black-up: inset 0 0 4px gray, -1px -1px 4px black;;
