
// body-header

$bodyHeaderBorder: none;
$bodyHeaderBorderRadius: 10px;
$bodyHeaderBoxShadow: 0px 0px 8px lightgreen;


// login-body__form-container

$loginBody__formContainer-border: 1px solid gray;
$loginBody__formContainer-borderRadius: 10px;
$loginBody__formContainer-boxShadow: 0 0 8px lightgreen;

//login-body__field

$loginBody__field-border: none;
$loginBody__field-borderRadius: 4px;
$loginBody__field-boxShadow: 0 0 8px gray;