
// pegas-body

$pegasBodyMargin: 0 auto;
$pegasBodyPadding: 5px 0;


// body-header

$bodyHeaderMargin: 0 0 15px;
$bodyHeaderPadding: 0;

// body-header__head

$bodyHeader__headMargin: 15px 0 25px;
$bodyHeader__headPadding: 0;

// login-body__form-container

$loginBody__formContainer-margin: 0px 20px 0;
$loginBody__formContainer-padding: 0;

// login-body__form-description

$loginBody__formDescription-margin: 0 0 50px 0;
$loginBody__formDescription-padding: 0;

// login-body__form-description

$loginBody__fieldContainer-margin: 30px 0;
$loginBody__fieldContainer-padding: 0;

//login-body__field

$loginBody__field-margin: 0;
$loginBody__field-padding: 0px 20px 12px;

//login-body__button-container

$loginBody__buttonContainer-margin: 50px 0;
$loginBody__buttonContainer-padding: 0;