
// login-body__form-container

$loginBody__formContainer-margin: 0px 20px 0;
$loginBody__formContainer-padding: 0;

// login-body__form-description

$loginBody__formDescription-margin: 0 0 50px 0;
$loginBody__formDescription-padding: 0;

// login-body__form-description

$loginBody__fieldContainer-margin: 30px 0;
$loginBody__fieldContainer-padding: 0;

//login-body__field

$loginBody__field-margin: 0;
$loginBody__field-padding: 0px 20px 12px;

//login-body__button-container

$loginBody__buttonContainer-margin: 50px 0;
$loginBody__buttonContainer-padding: 0;









//////////////////////// list-body //////////////////////////////////
/// // text-height //////////////////////////////////////////////////
// если меняем здесь параметры, то и у description & task-field-title
$textHeightMargin: 0;
$textHeightPadding: 0;
// task-field-title //
// константы должны быть как и у text-height
$taskFieldTitleMargin: 0;
$taskFieldTitlePadding: 0;
// description //
// константы, должны быть как и у text-height
$descriptionMargin: 0;
$descriptionPadding: 0;

/////////////////////////////////////////////////////////////////////