///////////  color  ////////////////





///////// background ///////////////////

// body

$backgroundGrad1: white;
$backgroundGrad2: rgb(214, 214, 236);


// body-header

$bodyHeagerBackground: rgb(194, 194, 240); 

// body-header__head

$bodyHeader__headColor: rgb(90, 103, 116);

// login-body__form-container

$loginBody__formContainer-background: rgb(228, 228, 240);

// login-bddy__field

$loginBody__field-background: lightyellow;