
// login-body__form-description

$loginBody__formDescription-font: normal 20px/1.2 Time serif;
$loginBody__formDescription-textShadow: 1px 1px 2px lightgreen;

// login-body__field-description

$loginBody__fieldDescription-font: bold 18px/1 Time serif;

// login-body__field-input

$loginBody__fieldInput-font: normal 20px/1.2 Time serif;

// login-body__regin

$loginBody__regin-font: normal 16px/1 Time serif