/////////////// Flex /////////////

$flexFlowRow: row nowrap;
$flexFlowCol: column nowrap;

//////////////////  grid ///////////////

// task-item //

$listBody-listItemGridRow: minmax(30px, auto);
$listBody-listItemGridCol: 10% 80% 10%;

// task-field //

// $taskFieldGridRow: 59px 234px 82px 40px min-content;
$taskFieldGridRow: minmax( 38px, 69px)  auto 122px 20px 35px;

$taskFieldGridRowBig:  minmax(38px, 69px) auto 122px min-content;

// file-container //
$fileContainerGridCol: 95% 5%;

// file-item //
$fileItemGridCol: 91% 9%;


