// widths & height

$max-height-for-title: 59px;
$max-height-for-fileContainer: 92px;

$checkboxSize: 16px;

$fileAddSize: 22px;
$fileAddSizeSmall: 20px;

$fileRemoveSize: 14px;

$itemButtonWidth: 100px;
$itemButtonHeight: 35px;
$itemButtonWidthSmall: 90px;
$itemButtonHeightSmall: 30px;
