//////////// box //////////////

// text-height ////////////////////////////////////////////////////////
// если меняем здесь параметры, то и у description & task-field-title
$textHeightMargin: 0;
$textHeightPadding: 0;
// task-field-title //
// константы должны быть как и у text-height
$taskFieldTitleMargin: 0;
$taskFieldTitlePadding: 0;
// description //
// константы, должны быть как и у text-height
$descriptionMargin: 0;
$descriptionPadding: 0;

///////////////////////////////////////////////////////////////////////
