//////////////// fonts /////////////

$rect-button-font: 15px/1 Time serif;

$task-field-title-font: bold 24px/1.2 Time serif;
$task-field-description-font: 18px/1.2 Time serif;
$task-field-deadline-font: 16px/1 Time serif;
$task-field-fileContainer-font: 14px/1 Time serif;

$task-item-title-fontSize: 18px;

$main-text-shadow: 1px 1px 1px white, 2px 2px 2px gray;
$main-font-color: black;


$titleColor: rgb(37, 31, 31);
$titleHoverColor: rgb(136, 150, 12);
$titleCompliteColor: rgb(19, 95, 19);
$titleDeadmenColor: rgb(129, 35, 35);

$fileNameColorHover: blue;
