// @import "./var/colors.scss";
// @import "./var/font.scss";
// @import "./var/border.scss";
// @import "./var/size.scss";
// @import "./var/box.scss";
// @import "./mixin.scss";

@import "./template.scss";

body {
	box-sizing: border-box;
	max-height: 100vh;
	overflow-x: hidden;

	@include setBox( 0, 0 );
	
  font-family: -apple-system, BlinkMacSystemFont, Time, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: 0px;
	color: black;

	background-color: $bodybackgoundColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pegas-body {
	box-sizing: border-box;

	min-height: 100vh;
	max-height: 100vh;

	@include setGrid( ( 63px auto 63px), 1fr, auto, auto );
	grid-template-areas: "pegas-body__header" "pegas-body__main" "pegas-body__footer";

	@media (min-width: 700px) {
		grid-template-rows: 74px auto 74px;
	}

	&__page-loader {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;
		@include setFlex($flexFlowRow, center, center)
	}

	&__body-header {
		grid-area: pegas-body__header;
		@extend %template-body-headerAndFooter;
		@include setBorder( $gray-border-thin,  0, $field-shadow-black-down );
	}

	&__body-footer {
		grid-area: pegas-body__footer;
		@extend %template-body-headerAndFooter;
		@include setBorder( $gray-border-thin, 0, $field-shadow-black-up );
	}

	&__main {
		grid-area: pegas-body__main;
		
		box-sizing: border-box;
		position: relative;
		width: 100%;
		height: calc(100vh - 126px);
		
		overflow-y: auto;
		overflow-x: hidden;


		@include setBox( ( 0 auto ), ( 10px ) );
		@media (min-width: 700px) {
			height: calc(100vh - 148px);
		}
	}

	&__list-body {
		box-sizing: border-box;
		font-size: 16px;
		height: 100%;
		
		overflow: hidden;
		
		@media (min-width: 980px) {
			
			@include setBox( ( 0 auto ), 0 );
			@include setGrid( 100%, (auto auto), auto, auto );
			justify-content: center;
			grid-template-areas: "listBody-contentContainer listField-contentContainer";

			width:auto;
		}

		@media (min-width: 1200px ) {
			width: 1160px;
		}
	}

	&__home,
	&__about {
		font-size: 18px;
		text-align: justify;
		line-height: 1.3;

		@include setBox((0 auto), 0);
		@include setGrid(auto, 1fr, auto, auto);

		@media (min-width: 700px) {
				line-height: 1.5;
		}
		
		@media (min-width: 980px) {
			width: 960px;
		}
	
		& h2 {
			text-align: center;
			text-shadow: $main-text-shadow;

			@include setBox((10px 0 5px), (0));
		}

		& p, & ul {
			text-shadow: 1px 1px 4px gray;
		}

		& p {
			text-indent: 25px;
			@include setBox((10px 0 5px), (0));
		}

		& ul {
			@include setBox((-5px 0 0), (0 0px 0 25px));

			@media (min-width: 500px) {
				padding-left: 50px;
			}

			& li {
				@include setBox(0, 0)
			}

			// & ul {
			// @include setBox((0px 0 0), (0 0px 0 35px));
			// }
		}
	
	}

	&__home {
		& h4 {
			@include setBox ( (24px 0 0 0 ), 0);
		}
		& h3 {
			display: run-in;

			@include setBox( ( 10px 0 5px ), 0)
		}

	}

	&__about {

		// & h2 {
		// 	text-align: center;
		// 	text-shadow: $main-text-shadow;
		// }

		grid-template-areas: 	"about-name"
													"about-contacts"
													"about-skills"
													"about-experience"; 

		@media (min-width: 700px) {
			@include setGrid( ( 91px 109px ), ( auto 154px ), auto, auto );
			grid-auto-rows: auto;
			grid-template-areas: 	"about-name about-photo"
														"about-contacts about-photo"
														" about-skills about-skills "
														"about-experience about-experience";
		}

		@media (min-width: 980px) {
			grid-template-areas: 	"about-name about-photo" 
														"about-contacts about-photo"
														"about-experience about-skills";
		}

	}

	&__login-body {
		box-sizing: border-box;
		height: 100%;
		min-width: 300px;
		max-width: 400px;
		
		// border: 1px solid black;
		@include setBox( ( 0 auto), 0 );

		@media (min-width: 700px) {
			width: 400px;
		}

	}

	&__error-page {
		box-sizing: border-box;
		max-width: 960px;
		font-size: 16px;
		width: 100%;
		height: 100%;

		@include setBox( (0px auto), 10px );

		@media (min-width: 700px) {
			font-size: 18px;
		}
	}

	&__contact-anchor {
		box-sizing: border-box;
		padding: 0;
		color: $main-font-color;
		text-decoration: none;
		cursor: default;

		&::after {
			padding-left: 3px;
		}

			&:hover {
				color: $body-header__navLink-color-hover;
				text-shadow: $gray-text-shadow;
			}
		
			&:active {
				color: $body-header__navLink-color-active;
			}
		
			&[href ^="mailto"]::after {
				@extend %template-anch-email;
			}
		
			&[href ^="tel"]::after {
				@extend %template-anch-phone;
			}
		
			&[href ^="https://github.com"]::after {
				@extend	%template-anch-gitHub; 
			}
		
			&[href ^="https://t.me/"]::after {
				@extend %template-anch-telegram;
			}
		
			&[href ^="https://t.me/"]::after,
			&[href ^="https://github.com"]::after {
		
				@extend %template-anch-image-setting;
		
			}

	}

	&__file-loader {
		box-sizing: border-box;
		position: absolute;
		z-index: 10;
		border: 1px dotted gray;
		@include setFlex($flexFlowRow, center, center );

			& .file-loader__progress {
				position: absolute;
				top: 0;
				left: 0;
				width: 0%;
				height: 100%;
				background-color: $fileLoaderProgressBackground;
			}
		}
}