@import "./mixin.scss";
@import "./var/font.scss";
@import "./var/background.scss";
@import "./var/border.scss";
@import "./var/box.scss";
@import "./var/grid-Flex.scss";
@import "./var/size.scss";


%template-listBody-field {
	box-sizing: border-box;
	min-width: 300px;
	width: calc(100% - 20px);
	background: $listBody-background;
}

%template-body-headerAndFooter {
		user-select: none;
		box-sizing: border-box;
		background: $bodyHeaderBackground;
		@include setBox(0, 0);
}

%template-listBody-listItem {
	font-size: $task-item-title-fontSize;
	text-shadow: $main-text-shadow;
	cursor: default;

	user-select: none;
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;

	border-bottom: 1px dashed gray;
}

%template-anch-email {
	content: "\2709";
}
%template-anch-phone {
	content: "\2706";
}
%template-anch-telegram {
	background-image: url("../images/telegram/telegram.png");
}

%template-anch-gitHub {
	background-image: url("../images/gitHub/github.png");
}

%template-anch-image-setting {
	display: inline-block;
	content: "   ";
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
}

%template-circle-button {
	user-select: none;
	position: relative;
	cursor: default;
	@include setBox( 0, 0 );
	@include setFlex($flexFlowRow, center, center);
}

// оставляем

%template-loader-position {
	position: absolute;
	top: 0%;
	left: 0;
	height: 100%;
}

%template-editable-text-field {
	box-sizing: border-box;
	outline: none;
	border: none;
	resize: none;
	background-color: transparent;

	position: absolute;
	top: 0;
	left: 0%;

	width: 100%;
	height: 100%;
}

%template-wrap {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

%template-overflow {
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

%template-checkbox__input{
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}
%template-checkbox__checkmark {
	position: relative;
	width: $checkboxSize;
	height: $checkboxSize;
	background-color: $checkboxBackground;

	@include setBorder($gray-border-thin, 11px, $main-text-shadow )
}
%template-checkbox__checkmark_active {
	content: "";
	position: absolute;
	left: 5px;
	top: 3px;
	width: 3px;
	height: 5px;
	border: solid #333;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	opacity: 0;
}
