@import "../../../styles/template.scss";

.file-container {

	&__file-list {
		list-style-type: none;

		@extend %template-overflow;
		@include setBox( ( 0 15px 0 0 ), ( 5px 5px 0px 8px ) );
		@include setBorder($gray-border-thin, 2px, ( inset 0 0 4px gray ) );
	}

	&__file-item {
		box-sizing: border-box;		
		@include setBox( ( 0 0 5px 0 ), ( 0 ) );
		@include setGrid(auto, (auto 20px), stretch, center);
	}

	&__file-name {
		box-sizing: border-box;
		position: relative;
		user-select: none;
		margin: 0px 5px 0 0;
		width: 100%;

		
		& span {
			
			color: $main-font-color; 
			word-break: break-all;
			cursor: pointer;
			
			&:hover {
				color: $fileNameColorHover;
				text-decoration: underline;

			}
		}
	}


	&__file-add-position {
		align-self: center;
		justify-self: center;

		@media (min-width: 960px) {
			justify-self: center;
		}
	}

	&__file-add {
		height: $fileAddSize;
		width: $fileAddSize;
		background-color: $circle-button-background;
		
		@extend %template-circle-button;
		@include setBorder($gray-border-thin, 15px, $inset-box-shadow-button);

		@media (max-width: 500px) {
			width: $fileAddSizeSmall;
			height: $fileAddSizeSmall;
		}
	}

	&__file-add:hover {
		background: $circle-button-background-hover;
		box-shadow: $inset-box-shadow-button-hover;
	}

	&__file-add:active {
		top: 1px;
		left: 1px;
		box-shadow: $inset-box-shadow-button-active;
	}

	&__file-add-input {
		display: none;
	}

	& .pegas-body__file-loader {
		width: 100%;
		
		left: 0;
		top: -1px;
		bottom: 0;
	}

	&__file-remove,
	&__file-loader-cancel {
		font: 10px/1 Arial sans-serif;
		justify-self: end;
		align-self: center;
		height: $fileRemoveSize;
		width: $fileRemoveSize;
		background: $circle-button-background;
	
		@extend %template-circle-button;	
		@include setBorder($gray-border-thin, 15px, $inset-box-shadow-button)
	}

	&__file-remove:hover,
	&__file-loader-cancel:hover {
		background: $circle-button-background-hover;
		box-shadow: $inset-box-shadow-button-hover;
	}

	&__file-remove:active,
	&__file-loader-cancel:active {
		top: 1px;
		left: 1px;
		box-shadow: $inset-box-shadow-button-active;
	}
}