@import "../../styles/template.scss";
@import "../../styles/var/colors.scss";
@import "../../styles/var/font.scss";
@import "../../styles/var/border.scss";
@import "../../styles/var/size.scss";
@import "../../styles/var/box.scss";
@import "../../styles/mixin.scss";

.body-footer{

	&__container{
		// border: 1px solid black;

		// background: rgba(192, 124, 124, 0.541);

		font-size: 10px;
		text-shadow: 1px 1px 2px white, 2px 2px 2px rgb(77, 77, 77);

		margin: 0 auto;
		padding: 6px;

		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

			@media (min-width: 700px) {
				width: $body-header__container-mediumWidth;
				padding: $body-header__container-mediumPadding;

				font-size: 14px;
			}
		
			@media (min-width: 1400px) {
				width: $body-header__container-largeWidth;
				padding: $body-header__container-largePadding;
			}	
	}

	&__contacts{
		
		margin: 0 20px 0 0;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: start;

		&:last-of-type{
			margin: 0;
		}

		@media (min-width: 700px) {
			margin: 0 60px 0 0;
		}
	}


	&__contact-item{

		display: inline-flex;
		flex-flow: row nowrap;
		align-items: center;
	
		height: 16px;

		padding:  0 ;

		color: $main-font-color;
		
		text-decoration: none;
	
		cursor: default;

		@media (min-width: 700px) {
			height: 20px;
		}
	}
	
	&__contact-anch {
		box-sizing: border-box;
		&:hover {
			color: $body-header__navLink-color-hover;
			text-shadow: 1px 1px 2px black; 
		}
		
		&:active {
			color: $body-header__navLink-color-active;
		}

		&[href ^= "mailto"]::after {
			@extend %template-anch-email;
			font-size: 1.2em;
		}

		&[href ^= "tel"]::after {
			@extend %template-anch-phone;
			font-size: 1.2em;
		}

		&[href ^="https://github.com"]::after {
			background-image: url("../../images/gitHub/github.png");
		}

		&[href ^="https://t.me/pegas1984"]::after {
			@extend %template-anch-telegram;
		}

		&[href ^="https://t.me/pegas1984"]::after,
		&[href ^="https://github.com"]::after { 
			
			width: 10px;
			height: 10px;
			@extend %template-anch-image-setting;

			@media (min-width: 700px) {
				width: 16px;
				height: 16px;
				
			}
		}
	}
	

}