@import "../../styles/template.scss";


.body-footer{

	&__container{

		font-size: 10px;
		text-shadow: $body-header__head-textShadow;

		@include setBox( ( 0 auto ), ( 6px ) );
		@include setFlex( $flexFlowRow, center, center );

			@media (min-width: 700px) {
				width: $body-header__container-mediumWidth;
				padding: 6px 0px;

				font-size: 14px;
			}
		
			@media (min-width: 1400px) {
				width: $body-header__container-largeWidth;
				padding: 6px 0px;
			}	
	}

	&__contacts{		
		margin: 0 20px 0 0;

		@include setFlex( $flexFlowCol, center, start);

		&:last-of-type{
			margin: 0;
		}

		@media (min-width: 700px) {
			margin: 0 60px 0 0;
		}

		& * {
			height: 16px;

			@include setFlex( $flexFlowRow, start, center );
			
			@media (min-width: 700px) {
				height: 20px;
			}
		}

		& a::after {			
			width: 10px;
			height: 10px;

			@media (min-width: 700px) {
				width: 18px;
				height: 18px;
			}
		}
	}
}