@import "../../../styles/template.scss";

.task-item {

	&__checkbox {

		& input {
			@extend %template-checkbox__input;
		}

		& input:checked~.task-item__checkmark {
			background-color: $checkboxBackgroundChecked;
		}

		& input:checked~.task-item__checkmark:after {
			opacity: 1;
		}

		&:hover input:checked~.task-item__checkmark {
			background-color: $checkboxBackgroundHover;
		}

		&:hover input~.task-item__checkmark {
			background-color: $checkboxBackgroundHover;
		}

		& .task-item__checkmark {
			@extend %template-checkbox__checkmark;
		}

		& .task-item__checkmark:after {
			@extend %template-checkbox__checkmark_active;
		}
	}

	&__file-anchor::before {
		content: "\1F4CE";
		font-size: .8em;
	}

	&__title {
		
		justify-self: start;


		@include setBox( ( 0 0 0 5px ), 0 );

		&:hover {
			color: $titleHoverColor;
		}
		&_deadmen {
			color: $titleDeadmenColor;
		}
		
		&_complite {
			color: $titleCompliteColor;
		}
		
		&_un-complite {
			color: $titleColor;
		}
	}
}

